/* Estilos globales para el tema oscuro (Versión General) */
:root {
  --color-background: #141414;    /* Fondo principal muy oscuro */
  --color-surface: #282828;       /* Superficies: gris oscuro */
  --color-primary: #230046;       /* Primario: púrpura oscuro */
  --color-secondary: #320064;     /* Secundario: púrpura intenso */
  --color-text: #ecf0f1;          /* Texto claro */
  --color-text-secondary: #cccccc; /* Texto secundario */
  --color-border: #320064;         /* Borde: usando el color secundario */
}

/* Aplicación global de fondo y texto */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Enlaces globales */
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

h2{
  background-color: var(--color-background);
  padding: 0.5%;
  border-radius: 10%;
  display: inline-block;
  border: 1px solid var(--color-border);
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
}
